---
import Accordion from "./Accordion.astro";
---

<section id="regulamento" class="py-10 relative overflow-hidden">
  <div class="container mx-auto md:p-10 p-6 max-w-4xl relative z-10">
    <div class="text-center mb-8">
      <h2
        class="text-white text-2xl md:text-6xl font-black uppercase leading-none tracking-tighter"
      >
        REGULAMENTO
      </h2>
    </div>

    <div class="space-y-4 bg-white rounded-2xl py-10 px-6 shadow-lg">
      <div class="mb-8">
        <h4 class="text-2xl md:text-2xl font-black uppercase leading-none tracking-tighter mb-4">
          1. PASSEIO CICLÍSTICO CONDOR DE ANIVERSÁRIO
          DE CURITIBA 
        </h4>
        <ul class="space-y-4">
          <li>
            <strong>1.1)</strong> O Passeio Ciclístico Condor de Aniversário de Curitiba
            será realizado no dia 29 de março de 2026.
          </li>
          <li>
            <strong>1.2)</strong> Ponto de partida: Hiper Condor Água Verde (Av. Água
            Verde, Nº 860). Concentração: 08h30. Largada: 10h00. Chegada: Parque Barigui
            (em frente ao Museu do Automóvel), prevista para às 11h30.
          </li>
          <li>
            <strong>1.3)</strong> Percurso total de 6,3 km passando pelas ruas: Bento
            Viana, Getúlio Vargas, Brigadeiro Franco, Padre Agostinho e Cândido Hartmann.
          </li>
        </ul>
        <img
        src="https://s3.cndr.me/lp-content/passeio-ciclistico/mapa-1.png"
        alt="Mapa do Trajeto"
        class="mt-4 rounded-2xl w-full h-auto object-cover hover:scale-[1.02] transition-transform duration-700"
      />
      </div>
      <div class="mb-8">
        <h4 class="text-2xl md:text-2xl font-black uppercase leading-none tracking-tighter mb-4">
          2. DAS REGRAS GERAIS DO EVENTO
        </h4>
        <p class="mb-4">
          <strong>2.1)</strong> A participação é gratuita e sem inscrição prévia. Ao participar, assume-se total aceitação deste regulamento.
        </p>
        <p class="mb-4">
          <strong>2.2)</strong> Entrega de sacochila e camiseta por ordem de chegada, com quantidades e tamanhos limitados. Não haverá entrega extra
          após o evento.
        </p>
        <p class="mb-4">
          <strong>2.3)</strong> O participante cede todos os direitos de imagem para divulgação e promoções em qualquer mídia e tempo.
        </p>
        <p class="mb-4">
          <strong>2.4)</strong> Haverá ambulâncias para primeiros atendimentos, mas a organización não se responsabiliza por despesas médicas posteriores.
        </p>
        <p class="mb-4">
          <strong>2.5)</strong> Recomendamos fortemente o uso de capacete. A manutenção da bicicleta é de total responsabilidade do ciclista.
        </p>
        <p class="mb-4">
          <strong>2.6)</strong> O participante assume que participará deste evento por livre e espontânea vontade, isentando de qualquer responsabilidade os organizadores, em seu nome e de seus sucessores.
        </p>
        <p class="mb-4">
          <strong>2.7)</strong> A organização reserva-se ao direito de alterar qualquer dos itens deste regulamento sem prévio aviso, conforme as necessidades do evento, informando estas alterações na retirada da camiseta/sacochila.
        </p>
        <p class="mb-4">
          <strong>2.8)</strong> A organização recomenda o uso de equipamentos de segurança, especialmente capacete.
        </p>
        <p class="mb-4">
          <strong>2.9)</strong> participante assume, e expressamente declara, que é conhecedor de seu estado de saúde e capacidade física e está devidamente apto para participar do evento.
        </p>
        <p class="mb-4">
          <strong>2.10)</strong> A organização não fornecerá serviço mecânico, sendo de responsabilidade do ciclista o conserto antes, durante e depois do passeio. A bicicleta e materiais de segurança serão de responsabilidade do participante.
        </p>
      </div>
    </div>
  </div>

  <!-- Final Separator -->
  <div class="mt-10 w-full border-t-2 border-dashed border-white opacity-30">
  </div>
</section>
