---

---

<section id="sponsors" class="py-8 bg-white relative z-20">
  <div class="container mx-auto px-4 max-w-5xl">
    <div
      class="bg-gray-50 rounded-[40px] p-8 md:p-12 shadow-sm border border-gray-100 flex flex-col items-center justify-center"
    >
      <h3
        class="text-[#1A1B4B] font-black  uppercase text-3xl mb-4 tracking-wider text-center"
      >
      PATROCÍNIO:
      </h3>

      <div class="flex justify-center items-center w-full mb-12">
        <img
          src="https://s3.cndr.me/lp-content/passeio-ciclistico/Group-4.png"
          alt="Marcas e Patrocinadores"
          class="w-full max-w-[800px] h-auto object-contain hover:scale-[1.02] transition-transform duration-500"
        />
      </div>
      <h3
      class="text-[#1A1B4B] font-[500] uppercase text-3xl mb-4 tracking-wider text-center"
    >
    APOIO:
    </h3>
      <div class="flex justify-center items-center w-full">
        <img
          src="https://s3.cndr.me/lp-content/passeio-ciclistico/Apoio-1.png"
          alt="Marcas e Patrocinadores"
          class="w-full max-w-[800px] h-auto object-contain hover:scale-[1.02] transition-transform duration-500"
        />
      </div>
    </div>
  </div>
</section>
