---
import "../styles/global.css";
import settings from "../data/settings.json";

interface Props {
  title: string;
}

const { title } = Astro.props;
const { gtmId } = settings;
---

<!doctype html>
<html lang="pt-br" class="overflow-x-hidden w-full max-w-[100vw]">
  <head>
    {gtmId && (
      <!-- Google Tag Manager -->
      <script is:inline define:vars={{ gtmId }}>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer',gtmId);
      </script>
      <!-- End Google Tag Manager -->
    )}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | Condor com Elas</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Outfit:wght@700&family=Pacifico&display=swap"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-grain text-accent selection:bg-primary selection:text-white min-h-screen overflow-x-hidden w-full relative"
  >
    {gtmId && (
      <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe 
          src={`https://www.googletagmanager.com/ns.html?id=${gtmId}`}
          height="0" 
          width="0" 
          style="display:none;visibility:hidden"
        ></iframe>
      </noscript>
      <!-- End Google Tag Manager (noscript) -->
    )}
    <slot />
  </body>
</html>
