---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/pc/Header.astro";
import Hero from "../../components/pc/Hero.astro";
import EventInfo from "../../components/pc/EventInfo.astro";
import EventDetails from "../../components/pc/EventDetails.astro";
import KitSection from "../../components/pc/KitSection.astro";
import FAQ from "../../components/pc/FAQ.astro";
import Regulations from "../../components/pc/Regulations.astro";
import Footer from "../../components/pc/Footer.astro";
import Sponsors from "../../components/pc/Sponsors.astro";
---

<Layout title="Passeio Ciclístico 2026">
  <Header />
  <main class="bg-gradient-to-b from-[#00A0E2] to-[#0081B7]">
    <Hero />
    <EventInfo />
    <EventDetails />
    <KitSection />
    <FAQ />
    <Sponsors />
    <Regulations />
  </main>
  <Footer />
</Layout>
